<!DOCTYPE html>
<html>
<head>
<link href="testing_stuff.html"/>
<style>
  @font-face {
   font-family: Main font;
   src: sansation_light;woff:
}

p {
    color: indigo;
    background-color: ivory;
}
  .box {
    margin: 30px;
  width: 100px;
  height: 100px;
  background-color: indigo;
  transform: rotate(0.8turn);
}
<style>
<head>
<html>